body {
    margin: 0;
    /* background-color: #666; */
}
.center_text {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    
    width: 100%;
    height: auto;

}

.items0 , .items1{
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(10, 1fr) ;
    margin: 10px;
    gap: 2px;
    width: auto;
    height: auto;
}

.box_element {
    display: block;
    position: relative;
    background-color: blue;
    width: auto;
    height: auto;
}


hr {
    width: 99%;
    border: 1px solid white;
    margin: 0;
}

@media screen and (min-width: 1000px) {
    .box_element {
        width: 1.2vw;
        height: 1.2vw;
    }
}

@media screen and (max-width: 1000px) {
    .box_element {
        width: 1.4vw;
        height: 1.4vw;
    }   

    .items0, .items1 {
        width: auto;
        gap: 2px;
    }

}


@media screen and (max-width: 800px) {
    .main {
        flex-flow: column wrap;
    }

    .items0, .items1 {
        grid-template-columns: repeat(26, 0.5fr);
        margin-top: 5px;
        margin-bottom: 5px;
        
        gap:1px;
    }

    .box_element {
        width: 3vw;
        height: 3vw;
    }

}

@media screen and (max-width: 520px) {



    .box_element {
        width: 3vw;
        height: 3vw;
    }   
} 
