body {
    margin: 0;
    background-color: #666;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;

    width: auto;
    height: auto;

}

.items0 , .items1{
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(10, 1fr) ;
    margin: 10px;
    gap: 5px;
    width: auto;
    height: auto;
}

.label {
    display: block;
    position: relative;
}

.label input {
    position: absolute;
    opacity: 0;
    margin: 0;
    cursor: pointer;
}

.label input:checked ~ .span {
    background-color: #2196F3;
}

.label:hover input ~ .span {
    background-color: #ccc;
}

.span {
    position: absolute;
    background-color: blue;
}

.middle_box {
    background-color: #666;
}

hr {
    width: 99%;
    border: 1px solid white
}

@media screen and (min-width: 900px) {
    .label, .label input, .span {
        width: 1vw;
        height: 1vw;
    }
}

@media screen and (max-width: 900px) {
    .label, .label input, .span {
        width: 1.2vw;
        height: 1.2vh;
    }   

    .items0, .items1 {
        width: 800px;
        margin-left: 4px;
        margin-right: 4px;
        gap: 2px;
    }

}

@media screen and (max-width: 605px) {
    .main {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        
        height: auto;
    }
    .items0, .items1 {
        grid-template-columns: repeat(26, 0.5fr);
        width: 500px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 2px;
        gap:1px;
    }

    .label, .label input, .span {
        width: 15px;
        height: 15px;
    }   
}
